<div id="container">
  <mat-accordion class="example-headers-align" multi="true">
    <ng-container
      *ngFor="let item of menuItems?.itemGroups"
      [ngTemplateOutlet]="item.items.length == 1 ? singleLink : dropDown"
      [ngTemplateOutletContext]="{ $implicit: true ? item : item }">
    </ng-container>
  </mat-accordion>
</div>

<ng-template #singleLink let-item>
  <mat-expansion-panel hideToggle="true" disabled="true">
    <mat-expansion-panel-header>
      <a class="link" href="{{item.href}}">{{ item.title }}</a>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</ng-template>

<ng-template #dropDown let-item>

  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <a class="link" href="{{item.href}}">{{ item.title}}</a>
    </mat-expansion-panel-header>

    <ng-template  matExpansionPanelContent>
      <div *ngFor="let item of item.items">
        <a href="{{item.href}}">
          <mat-expansion-panel hideToggle="true" disabled="true">
              <mat-expansion-panel-header class="subLink">
                {{ item.text }}
              </mat-expansion-panel-header>
          </mat-expansion-panel>
        </a>
      </div>
    </ng-template>
  </mat-expansion-panel>
</ng-template>

<!-- <div id="menu">
  <ul>
      <ng-container
        *ngFor="let item of menuItems?.itemGroups"
        [ngTemplateOutlet]="item.items.length == 1 ? singleLink : dropDown"
        [ngTemplateOutletContext]="{ $implicit: true ? item : item }">
      </ng-container>
  </ul>
</div>

<ng-template #singleLink let-item>
  <li class="">
    <a class="link">{{ item.items[0].text }}</a>
  </li>
</ng-template>

<ng-template #dropDown let-item>
  <li class="">
    <a class="link" href="#" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + item.id">{{ item.title }}</a>
    <ul id="collapse{{item.id}}" class="collapse">
      <div *ngFor="let item of item.items">
        <li>
          <a class="subLink" href="#">{{ item.text }}</a>
        </li>
      </div>
    </ul>
  </li>
</ng-template> -->
