<div id="container">
  <div id="leftSideBar" class="pt-5">
    <nav class="ms-2">
      <ul class="nav flex-column" id="nav_accordion">
          <ng-container
            *ngFor="let item of menuItems?.itemGroups"
            [ngTemplateOutlet]="item.items.length == 1 ? singleLink : dropDown"
            [ngTemplateOutletContext]="{ $implicit: true ? item : item }">
          </ng-container>
      </ul>
    </nav>
  </div>
</div>

<ng-template #singleLink let-item>
  <li class="nav-item">
    <a class="nav-link">{{ item.items[0].text }}</a>
  </li>
</ng-template>

<ng-template #dropDown let-item>
  <li class="nav-item">
    <a class="nav-link" href="#" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + item.id">{{ item.title }}</a>
    <ul id="collapse{{item.id}}" class="collapse">
      <div *ngFor="let item of item.items">
      <li><a class="nav-link" href="#">{{ item.text }}</a></li>
    </div>
    </ul>
  </li>
</ng-template>
