<!-- <div id="envBorder" [ngClass]="getEnvironmentBorderName()">
  <div *ngIf="(envName != 'production')" class="text-center borderText ">{{envName}}  </div>
</div> -->
<div id="flexContainer">
  <div id="headerContainer">
    <app-header></app-header>
  </div>
  <mat-sidenav-container  id="centerContainer">
    <div id="alertsContainer">
      <app-alert-manager></app-alert-manager>
    </div>
    <mat-sidenav id="leftSideBarContainer" opened mode="side">
      <app-left-side-bar></app-left-side-bar>
    </mat-sidenav>
    <mat-sidenav id="rightSideBarContainer" closed mode="side" position="end">
      <app-right-side-bar></app-right-side-bar>
    </mat-sidenav>
      <div id="mainBodyContainer">
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-container>
  <div id="notificationsContainer">
      <app-notification-manager></app-notification-manager>
  </div>
  <div id="footerContainer">
    <app-footer></app-footer>
  </div>
</div>
