<!-- <div id="envBorder" [ngClass]="getEnvironmentBorderName()">
  <div *ngIf="(envName != 'production')" class="text-center borderText ">{{envName}}  </div>
</div> -->
<div id="flexContainer">
  <div id="headerContainer">
    <app-header></app-header>
  </div>
  <div id="centerContainer">
    <app-tooltip-manager></app-tooltip-manager>
    <div id="alertsContainer">
      <app-alert-manager></app-alert-manager>
    </div>
    <div id="leftSideBarContainer">
        <app-left-side-bar></app-left-side-bar>
    </div>
    <div id="mainBodyContainer">
      <router-outlet></router-outlet>
    </div>
    <div id="rightSideBarContainer">
      <app-right-side-bar></app-right-side-bar>
    </div>
  </div>
  <div id="notificationsContainer">
      <app-notification-manager></app-notification-manager>
  </div>
  <div id="footerContainer">
    <app-footer></app-footer>
  </div>
</div>
