<app-right-side-bar-text></app-right-side-bar-text>
<div class="container">
  <div class="h1 text-center">Component demo</div>
    <div class="row border border-2 border-start-0 border-end-0 border-black pb-4 pt-4 mb-4">
      <div class="col-3 mb-3">
        <div>
          <div>{{ confirmationResponseMessage }}</div>
          <button mat-raised-button color="primary" (click)="openConfirmationDialog()">
              Open Confirmation Demo
          </button>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="openSpinner()">
            Open Spinner Demo
          </button>
        </div>
      </div>
      <div class="col">
        <form [formGroup]="notificationMessageFormData" (ngSubmit)="sendNotification()">
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select id="type" name="type" formControlName="type">
              <mat-option *ngFor="let n of keys" [value]="n">{{ types[n] }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput type="text" id="title" formControlName="title" value="{{notificationMessageFormData.title}}">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Text</mat-label>
            <input matInput type="text" id="text" formControlName="text" value="{{notificationMessageFormData.text}}"/>
          </mat-form-field>

          <div class="text-center">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              (mouseover)="setToolTipText('Click here to open a new notification')"
              (mouseenter)="toggleToolTipVisibility($event)"
              (mouseleave)="toggleToolTipVisibility($event)"
              (mousemove)="setToolTipPosition($event)">
              Open Notification Demo
            </button>
          </div>
        </form>
      </div>
      <div class="col">
        <div class="row">
          <form class="align-self-start" [formGroup]="alertMessageFormData" (ngSubmit)="sendAlert()">
            <mat-form-field>
              <mat-label>Type</mat-label>
              <mat-select id="type" name="type" formControlName="type">
                <mat-option *ngFor="let n of keys" [value]="n">{{ types[n] }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Text</mat-label>
              <input matInput type="text" id="text" formControlName="text" value="{{alertMessageFormData.text}}"/>
            </mat-form-field>


            <div class="row mb-2 ms-1">
              <mat-slide-toggle (change)="toggleDuration()" type="checkbox" id="dismiss" name="dismiss" formControlName="dismiss">Autodismiss:</mat-slide-toggle>

              <div class="col">
                <mat-form-field>
                  <mat-label>Display Time (in seconds)</mat-label>
                  <input matInput type="text" id="text" formControlName="duration" value="{{ alertMessageFormData.duration }}"/>
                </mat-form-field>
              </div>
            </div>
            <div class="text-center">
              <button mat-raised-button color="primary" type="submit">
                Open Alert Demo
              </button>
            </div>
          </form>
      </div>
    </div>
  </div>
  <app-color-swatches></app-color-swatches>
</div>
