<div id="container">
  <h1>Component demo</h1>
  <div id="components">
    <div id="dialogs" class="componentContainer">
      <mat-card class="demoContainer">
          <div id="confimation">
            <div>{{ confirmationResponseMessage }}</div>
            <button mat-raised-button
              color="primary"
              #tooltip="matTooltip"
              matTooltip="Click here to open a confimation dialog"
              [matTooltipPosition]="'right'"
              aria-label="Click here to open a confimation dialog"
              (click)="openConfirmationDialog()">
              Open Confirmation Demo
            </button>
          </div>
          <mat-divider></mat-divider>
          <div id="spinner">
            <button mat-raised-button
              color="primary"
              #tooltip="matTooltip"
              matTooltip="Click here to open a spinner dialog"
              [matTooltipPosition]="'right'"
              aria-label="Click here to open a spinner dialog"
              (click)="openSpinner()">
              Open Spinner Demo
            </button>
          </div>
      </mat-card>
    </div>
    <div id="notification"  class="componentContainer">
      <mat-card class="demoContainer">
        <form [formGroup]="notificationMessageFormData" (ngSubmit)="sendNotification()">
          <div>
            <mat-form-field>
              <mat-label>Type</mat-label>
              <mat-select id="type" name="type" formControlName="type">
                <mat-option *ngFor="let n of keys" [value]="n">{{ types[n] }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Title</mat-label>
              <input matInput type="text" id="title" formControlName="title" value="{{notificationMessageFormData.title}}">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Text</mat-label>
              <input matInput type="text" id="text" formControlName="text" value="{{notificationMessageFormData.text}}"/>
            </mat-form-field>
          </div>
          <div>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              #tooltip="matTooltip"
              matTooltip="Click here to open a new notification"
              [matTooltipPosition]="'right'"
              aria-label="Click here to open a new notification">
              Open Notification Demo
            </button>
          </div>
        </form>
      </mat-card>
    </div>
    <div id="alert" class="componentContainer">
      <mat-card class="demoContainer">
        <form [formGroup]="alertMessageFormData" (ngSubmit)="sendAlert()">
          <div>
            <mat-form-field>
              <mat-label>Type</mat-label>
              <mat-select id="type" name="type" formControlName="type">
                <mat-option *ngFor="let n of keys" [value]="n">{{ types[n] }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
          <mat-form-field>
              <mat-label>Text</mat-label>
              <input matInput type="text" id="text" formControlName="text" value="{{alertMessageFormData.text}}"/>
            </mat-form-field>
          </div>
          <div id="dismissRow">
              <mat-slide-toggle (change)="toggleDuration()" type="checkbox" id="dismiss" name="dismiss" formControlName="dismiss">Autodismiss:</mat-slide-toggle>
              <mat-form-field>
                <mat-label>Display Time (in seconds)</mat-label>
                <input matInput type="text" id="text" formControlName="duration" value="{{ alertMessageFormData.duration }}"/>
              </mat-form-field>
          </div>
          <button mat-raised-button
            color="primary"
            type="submit"
            #tooltip="matTooltip"
            matTooltip="Click here to open a new alert"
            [matTooltipPosition]="'right'"
            aria-label="Click here to open a new alert">
            Open Alert Demo
          </button>
        </form>
      </mat-card>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div id="colors">
    <app-color-swatches></app-color-swatches>
  </div>
</div>
