<ng-template #navLinks>
  <nav>
    <ul class="nav flex-column" id="nav_accordion">
      <li class="nav-item">
        <a class="nav-link" href="#"> Link name </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseExample">Submenu links</a>
        <ul id="collapseExample" class="collapse">
          <li><a class="nav-link" href="#">Submenu item 1 </a></li>
          <li><a class="nav-link" href="#">Submenu item 2 </a></li>
          <li><a class="nav-link" href="#">Submenu item 3 </a> </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#collapseExample1"  href="#">More menus</a>
        <ul id="collapseExample1" class="submenu collapse">
          <li><a class="nav-link" href="#">Submenu item 4 </a></li>
          <li><a class="nav-link" href="#">Submenu item 5 </a></li>
          <li><a class="nav-link" href="#">Submenu item 6 </a></li>
          <li><a class="nav-link" href="#">Submenu item 7 </a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Something</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Other link</a>
      </li>
    </ul>
  </nav>
</ng-template>
