<div id="container" (keydown)="onKeyDown($event)">
  <div id="dialog">
    <div mat-dialog-title>{{ data.title }}</div>
    <mat-dialog-content>
      <p>{{ data.text }}</p>
    </mat-dialog-content>
    <div id="buttons" mat-dialog-actions>
      <button mat-raised-button color="warn" type="button" class="" (click)="no()">{{ data.noButtonText }}</button>
      <button mat-raised-button color="primary" type="button" class="" (click)="yes()">{{ data.yesButtonText }}</button>
    </div>
  </div>
</div>
