<mat-toolbar color="primary">
  <button mat-button>My Application</button>
  <ng-container
    *ngFor="let item of links.links.itemGroups"
    [ngTemplateOutlet]="item.items.length == 1 ? singleLink : dropDown"
    [ngTemplateOutletContext]="{ $implicit: true ? item : item }">
  </ng-container>
</mat-toolbar>

<ng-template #singleLink let-item>
  <button mat-button>{{ item.items[0].text }}</button>
</ng-template>

<ng-template #dropDown let-item>
  <button mat-button [matMenuTriggerFor]="beforeMenu">{{ item.title }}</button>
  <mat-menu #beforeMenu="matMenu">
    <div *ngFor="let item of item.items">
      <button mat-menu-item>{{ item.text }}</button>
    </div>
  </mat-menu>
</ng-template>
