<mat-toolbar color="primary">
  <button mat-button>My Application</button>
  <ng-container
    *ngFor="let item of links.links.itemGroups"
    [ngTemplateOutlet]="item.items.length == 1 ? singleLink : dropDown"
    [ngTemplateOutletContext]="{ $implicit: true ? item : item }">
  </ng-container>
</mat-toolbar>

<ng-template #singleLink let-item>
  <a href="{{item.items[0].href}}">
    <button mat-button>
        <div class="linkText">{{ item.items[0].text }}</div>
    </button>
  </a>
</ng-template>

<ng-template #dropDown let-item>
  <button class="" mat-button [matMenuTriggerFor]="beforeMenu">
    <h3>
      <div class="linkText">{{ item.title }}</div>
    </h3>
  </button>
  <mat-menu #beforeMenu="matMenu">
    <div *ngFor="let item of item.items">
      <a href="{{item.href}}">
        <button class="" mat-menu-item>
         {{ item.text }}
        </button>
      </a>
    </div>
  </mat-menu>
</ng-template>
