<div class="text-center h1 pb-3">Color Theme</div>
<div class="row">
  <div class="col">
    <app-swach [BackgroundClass]="'primary'"></app-swach>
  </div>
  <div class="col">
    <app-swach [BackgroundClass]="'secondary'"></app-swach>
  </div>
  <div class="col">
    <app-swach [BackgroundClass]="'info'"></app-swach>
  </div>
  <div class="col">
    <app-swach [BackgroundClass]="'light'"></app-swach>
  </div>
  <div class="col">
    <app-swach [BackgroundClass]="'gray'"></app-swach>
  </div>
  <div class="col">
    <app-swach [BackgroundClass]="'dark'"></app-swach>
  </div>
  <div class="col">
    <app-swach [BackgroundClass]="'success'"></app-swach>
  </div>
  <div class="col">
    <app-swach [BackgroundClass]="'warning'"></app-swach>
  </div>
  <div class="col">
    <app-swach [BackgroundClass]="'danger'"></app-swach>
  </div>
</div>
