@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$appBlack: #353535;
$appWhite: #FFFCFF;
$appOrange: #F26430;
$appYellow: #FFC107; //Bootstrap Wanring
$appRed:  #F71735; // Bootstrap Danger
$appBlue:#1B3B6F;
$appLightBlue: #3777FF;
$appDarkBlue: #1B3B6F;
$appGreen: #0C8346;
$appGray: #424651;
$appPurple: #5b1144;

$theme-colors: (
  "primary":    $blue-600,
  "secondary":  $appOrange,
  "gray":       $gray-500,
  "success":    $appGreen,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $appBlack
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';
