$black: #353535;
$white: #FFFCFF;
$appOrange: #F26430;
$appYellow: #FFC107; //Bootstrap Wanring
$appRed:  #F71735; // Bootstrap Danger
$appLightBlue: #3777FF;
$appDarkBlue: #1B3B6F;
$appGreen: #0C8346;
$appGray: #424651;
$appPurple: #5b1144;

$black: (
    50 : #e7e7e7,
    100 : #c2c2c2,
    200 : #9a9a9a,
    300 : #727272,
    400 : #535353,
    500 : #353535,
    600 : #303030,
    700 : #282828,
    800 : #222222,
    900 : #161616,
    A100 : #ef6f6f,
    A200 : #ea4141,
    A400 : #f80000,
    A700 : #df0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$darkBlue: (
    50 : #e4e7ee,
    100 : #bbc4d4,
    200 : #8d9db7,
    300 : #5f769a,
    400 : #3d5885,
    500 : #1b3b6f,
    600 : #183567,
    700 : #142d5c,
    800 : #102652,
    900 : #081940,
    A100 : #7798ff,
    A200 : #4471ff,
    A400 : #114aff,
    A700 : #003bf6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$lightblue: (
    50 : #e7efff,
    100 : #c3d6ff,
    200 : #9bbbff,
    300 : #73a0ff,
    400 : #558bff,
    500 : #3777ff,
    600 : #316fff,
    700 : #2a64ff,
    800 : #235aff,
    900 : #1647ff,
    A100 : #ffffff,
    A200 : #fcfcff,
    A400 : #c9d2ff,
    A700 : #afbdff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$gray: (
    50 : #e8e9ea,
    100 : #c6c8cb,
    200 : #a1a3a8,
    300 : #7b7e85,
    400 : #5e626b,
    500 : #424651,
    600 : #3c3f4a,
    700 : #333740,
    800 : #2b2f37,
    900 : #1d2027,
    A100 : #7094ff,
    A200 : #3d6eff,
    A400 : #0a47ff,
    A700 : #003cf0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$purple: (
    50 : #ebe2e9,
    100 : #ceb8c7,
    200 : #ad88a2,
    300 : #8c587c,
    400 : #743560,
    500 : #5b1144,
    600 : #530f3e,
    700 : #490c35,
    800 : #400a2d,
    900 : #2f051f,
    A100 : #ff69bb,
    A200 : #ff36a4,
    A400 : #ff038c,
    A700 : #e8007f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$orange: (
    50 : #fdece6,
    100 : #fbd1c1,
    200 : #f9b298,
    300 : #f6936e,
    400 : #f47b4f,
    500 : #f26430,
    600 : #f05c2b,
    700 : #ee5224,
    800 : #ec481e,
    900 : #e83613,
    A100 : #ffffff,
    A200 : #ffe7e4,
    A400 : #ffbbb1,
    A700 : #ffa597,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$yellow: (
    50 : #fff8e1,
    100 : #ffecb5,
    200 : #ffe083,
    300 : #ffd451,
    400 : #ffca2c,
    500 : #ffc107,
    600 : #ffbb06,
    700 : #ffb305,
    800 : #ffab04,
    900 : #ff9e02,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe4bf,
    A700 : #ffd9a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$red: (
    50 : #fee3e7,
    100 : #fdb9c2,
    200 : #fb8b9a,
    300 : #f95d72,
    400 : #f83a53,
    500 : #f71735,
    600 : #f61430,
    700 : #f51128,
    800 : #f30d22,
    900 : #f10716,
    A100 : #ffffff,
    A200 : #ffe6e7,
    A400 : #ffb3b6,
    A700 : #ff9a9e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$green: (
    50 : #e2f0e9,
    100 : #b6dac8,
    200 : #86c1a3,
    300 : #55a87e,
    400 : #309662,
    500 : #0c8346,
    600 : #0a7b3f,
    700 : #087037,
    800 : #06662f,
    900 : #035320,
    A100 : #85ffa8,
    A200 : #52ff83,
    A400 : #1fff5f,
    A700 : #06ff4d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
